{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/style_pretty_cards.css' %}">

{% block content %}
    <div class="container center">
        {% for tarjeta in object_list %}
            <div class="card">
                <h2>{{ tarjeta.nombre }}</h2>
                <hr>
                <div class="date">
                    <div class="row">
                        <div class="column">
                            <p>Última modificación: {{ tarjeta.fecha_modificacion }}</p>
                        </div>
                        <div class="column">
                            <p style="text-align: right;">Fecha de vencimiento: {{ tarjeta.fecha_vencimiento }}</p>
                        </div>
                    </div>
                </div>
                <hr/>
                <p>{{ tarjeta.contenido }}</p>
                <button type="submit">Reverso</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
