{% load static %}
{% load filters %}

{% if object.tema == 1 %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/temas/splendor.css' %}">
{% elif object.tema == 2 %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/temas/retro.css' %}">
{% elif object.tema == 3 %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/temas/air.css' %}">
{% elif object.tema == 4 %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/temas/modest.css' %}">
{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/style_pretty_cards.css' %}">
{% endif %}

{% block content %}
    <div class="container center">
        <div class="card">
            <h2>{{ object.nombre }}</h2>
            <hr>
            <div class="date">
                <div class="row">
                    <div class="column">
                        <p>Última modificación: {{ object.fecha_modificacion }}</p>
                    </div>
                    <div class="column">
                        <p style="text-align: right;">Fecha de vencimiento: {{ object.fecha_vencimiento|date:"SHORT_DATE_FORMAT" }}</p>
                    </div>
                </div>
            </div>
            <hr/>
            <p>{{ object.contenido | markdown }}</p>
            <button type="submit">Reverso</button>
        </div>
    </div>

    <a href="{% url 'tarjetas:index' %}">
        <button type="button" class="slide">
            <div>Regresar al menú</div>
            <i class="icon-arrow-right"></i>
        </button>
    </a>
{% endblock %}
