<!DOCTYPE html>
<html>

<head>
    <title>Rembe - Inicio</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="fonts-style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <div class="Login_page">
            <img class="Rembe_Logo" alt="Logo de rembe" src="images/rembe_logo.png" width="400">
            <h1 class="Welcome_msg">¡Bienvenido!</h1>
            <form action="" method="post" class="Login-CreateAccount">
                <button class="Login">Inicia Sesión</button>
                <hr class="Separador">
                <button class="SingIn">Crea una cuenta</button>
            </form>
            <div class="acceso">
                <p class="restriccion">Disponible solo para miembros de</p>
                <a href="https://www.fciencias.unam.mx/" target="_blank">
                    <img class="Ciencias_Logo" alt="Escudo De La Facultad de Ciencias" src="images/facultad_ciencias_logo.png" width="200">
                </a>
            </div>
        </div>
    </main>
</body>

</html>