{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/style_pretty_cards.css' %}">

<div class="container center">
    <div class="card">
        <h2>Card title</h2>
        <hr>
        <div class="date">
            <div class="row">
                <div class="column">
                    <p>fecha ultima vez modificada</p>
                </div>
                <div class="column">
                    <p style="text-align: right;">fecha de vencimiento</p>
                </div>
            </div>
        </div>
        <hr/>
        <p>Card body</p>
        <button type="submit">Reverso</button>
    </div>
</div>