{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Rembe{% block head_title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'login/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'login/images/favicon/favicon-16x16.png' %}">
    <link rel="stylesheet" type="text/css"  href= "{% static 'login/style/fonts-style.css' %}">
    <link rel="stylesheet" type="text/css"  href= "{% static 'login/style/base-style.css' %}">
  </head>
  <body>
    {% block body %}

    {% comment %} {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endcomment %}
    <header class="MenuSuperior">
      <div class = "Marca">
        <a href="{% url 'account_login' %}">
          <img class="RembeLogoMenu" alt="Logo de rembe" src="{% static 'login/images/logo_sin_fondo.png' %}" width="50">
          <h2 class="NombreMarca">Rembe</h2>
        </a>
      </div>
      <ul class = "Opciones">
        {% if user.is_authenticated %}
        <li class= "nav"><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li class= "nav"><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li class= "nav"><a href="{% url 'account_login' %}">Sign In</a></li>
        <li class= "nav"><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </u1>
    </header>
    <div class="CenterContainer">
      {% block content %}
      <h1> Bienvenido </h1>
      <button class="primaryAction Tarjetas" type="submit">
        <a href="{% url 'tarjetas:index' %}">
          Ir a mis tarjetas
        </a>
      </button>
      <button type="submit">
        Conectar con Google Calendar
        <a href="{}">
        </a>
      </button>
      {% endblock %}
    <div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
