* {
    --border-chungus: 3px;
    --bg-color: #F5EFED;
    --primary-color: rgb(131, 15, 40);
    --row1-color: rgba(232, 128, 151, 0.15);
    --secondary-color: rgb(157, 156, 156);
    --dark-text-color: black;
    --clear-text-color: rgb(243, 233, 233);
}

body {
    background-color: var(--bg-color);
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

img {
    height: 60px;
    width: 60px;
}

.table-users {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 800px;
}

table {
    width: 100%;
}

table td,
table th {
    color: #2b686e;
    color: var(--dark-text-color);
    padding: 10px;
}

table td {
    text-align: center;
    vertical-align: middle;
}

table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}

table th {
    background-color: var(--row1-color);
    font-weight: 300;
}

table tr:nth-child(2n) {
    background-color: var(--bg-color);
}

table tr:nth-child(2n+1) {
    background-color: var(--row1-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: #2b686e;
}

@media screen and (max-width: 700px) {
    table,
    tr,
    td {
        display: block;
    }
    td:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
    }
    td:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;
    }
    td:not(:first-child):before {
        color: var(--bg-color);
        content: "";
        display: block;
        left: 0;
        position: absolute;
    }
    td:nth-child(2):before {
        content: "Name:";
    }
    td:nth-child(3):before {
        content: "Email:";
    }
    td:nth-child(4):before {
        content: "Phone:";
    }
    td:nth-child(5):before {
        content: "Comments:";
    }
    tr {
        padding: 10px 0;
        position: relative;
    }
    tr:first-child {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header {
        background-color: transparent;
        color: white;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
    img {
        border: 3px solid;
        border-color: #daeff1;
        height: 100px;
        margin: 0.5rem 0;
        width: 100px;
    }
    td:first-child {
        background-color: #c8e7ea;
        border-bottom: 1px solid var(--bg-color);
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
    }
    td:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
    }
    td:not(:first-child):before {
        font-size: 0.8em;
        padding-top: 0.3em;
        position: relative;
    }
    td:last-child {
        padding-bottom: 1rem !important;
    }
    tr {
        background-color: white !important;
        border: 1px solid #6cbec6;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
    }
    .table-users {
        border: none;
        box-shadow: none;
        overflow: visible;
    }
}

button {
    margin: 50px;
    font-family: inherit;
}


/* End of Page styling */


/* Simple button styling -- No animation */

.simple {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.simple::after {
    content: "";
    background-color: #dcbaff;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}


/* End of Simple Button */


/* Fill button styling */

.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}


/* End of Fill Button  */


/* Slide button styling */

.slide {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
}

.slide div {
    transition: transform 0.8s;
}

.slide:hover div {
    transform: translateX(-6px);
}

.slide::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}

.slide:hover i {
    opacity: 1;
    transform: translateX(-6px);
}