:root {
    --text-color: #1a1a1a;
    --date-color: rgba(26, 26, 26, 0.90)a;
    --body-bgcolor: rgba(255, 255, 255);
    --shadow-color: rgba(128, 128, 128);
    --constras-color: rgba(60, 60, 60);
    --ratio: 1.7;
    --card_width: 70%;
    --card_height: calc(var(--card_width) * var(--ratio))%;
    --card_padding: 20px;
    --card-bgcolor: rgba(240, 240, 240);
    --card_margin: 5px;
    --card_round: 10px;
    --card-shadow: -10px -10px 0px 0px var(--shadow-color);
    --card-padding-basis: 15px;
    --card_head_padding: 0px 0px var(--card-padding-basis) 0px;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    background-color: var(--body-bgcolor);
}

.container {
    width: 80%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card {
    background-color: var(--card-bgcolor);
    width: var(--card_width);
    min-height: var(--card_height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: var(--card_padding);
    margin: var(--card_margin);
    -webkit-box-shadow: var(--card-shadow);
    box-shadow: var(--card-shadow);
    border-radius: var(--card_round);
    -webkit-animation-name: shadow-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: shadow-show;
    animation-duration: 1.5s;
    -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
}

.card h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: var(--card_head_padding);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: var(--text-color);
}

.card button {
    border: none;
    background: linear-gradient( rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
    background-color: var(--constras-color);
    width: 18%;
    margin: 10px;
    margin-left: auto;
    padding: 10px 30px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    transition-duration: 0.01;
}

.card button:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    color: var(--text-color);
}

.card .date p {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 0;
    font-size: 12px;
    color: var(--date-color);
    padding: none;
}

.card p {
    margin: var(--card-padding-basis) 0px 0px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: var(--text-color);
    padding: 10px 10px 10px 20px;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}

.card hr {
    display: block;
    border: none;
    height: 3px;
    background-color: var(--constras-color);
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    /* custom */
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    
    margin: 50px;
    font-family: inherit;
  }
  /* End of Page styling */
  
  /* Simple button styling -- No animation */
  .simple {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .simple::after {
    content: "";
    background-color: #dcbaff;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
  /* End of Simple Button */
  
  /* Fill button styling */
  .fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
  /* End of Fill Button  */
  
  /* Slide button styling */
  .slide {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }
  
  .slide div {
    transition: transform 0.8s;
  }
  
  .slide:hover div {
    transform: translateX(-6px);
  }
  
  .slide::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
  
  .slide:hover i {
    opacity: 1;
    transform: translateX(-6px);
  }