.main {
    margin-top: 5vh;
    margin-left: 10vw;
    width: 80vw;
    padding: 1.5rem;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main input {
    /* float: right; */
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.red {
    background-color: rgb(131, 15, 40);
}

.green {
    background-color: rgb(17, 131, 15);
}

.form-group {
    display: block;
}

.form-group label {
    width: 100%;
    padding-top: 0.5rem;
}

.form-group input {
    height: 2rem;
}

.form-group input {
    width: 100%;
    margin-bottom: 2rem;
}

.form-group textarea {
    min-width: 30%;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.markdownx {
    display: flex;
}

.save {
    text-align: end;
}