{% extends "account/base.html" %} 
{% load static %}
{% block head_title %}HOME{% endblock %}
{% block style_header %}
<link rel="stylesheet" type="text/css"  href= "{% static 'login/style/main-theme-stylesheet.css' %}">
<link rel="stylesheet" type="text/css"  href= "{% static 'login/style/home-style.css' %}">


{% endblock %} 

{% block body %}
<div class="full-page-container">
    <div class="colum-margin"></div>
    <div class="colum-content">
        <div class="colum-content-vertical-layout">
            <div class="top-space"></div>
            <div class="logo-container">
                <a class="login-url" href="{% url 'account_login' %}">
                    <img class="logo" src="{% static 'login/images/logo_centrado_sin_fondo.png' %}"  alt="logo de rembe">
                </a>
            </div>
            <div class="desc-container">
                <h1>Rembe</h1>
                <h6 class="descript-rembe"></h6>
            </div>
            <div class="continue-container">
                <img class="go-down" src="{% static 'login/images/icons/go_down.png' %}" alt="ir abajo">
            </div>

        </div>
    </div>
    <div class="colum-margin"></div>
</div>
{% endblock %}