@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Inconsolata&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Inconsolata&family=Roboto+Slab&display=swap');
h1,
h2,
h3,
.nav a {
    font-family: 'Bitter', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Slab', serif;
}

button {
    font-family: 'Bitter', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Slab', serif;
}

h4,
h5,
h6,
p {
    font-family: 'Bitter', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Slab', serif;
}