* {
    /* Colores de la página */
    --main-color: #830F28;
    --contrast-color: #B6B2B6;
    --highlight-color: #416788;
    --text-color: #000807;
    --text-contrast-color: #6e6a6e;
    --bg-color: #F5EFED;
}

h1 {
    color: var(--main-color)
}

h2,
h3,
h4 {
    color: var(--text-color)
}

h5,
a {
    color: var(--highlight-color);
}

h6 {
    color: var(--text-contrast-color);
}